# Ignore virtual environment
venv/
.venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore API keys
OpenAI-API-key.txt
spech-text-gpt-semdis-f8647f2e5b71.json

# Ignore user data
data/

# Ignore visualization testing file
plot_graph.py